
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  overflow-wrap: break-word;
  word-break: normal;
  transition: 0.5s;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

li.nav-item {
  margin-right: 20px;
}

nav ul li a {
  color: rgb(255, 255, 255) !important;
  font-size: 16px;
  font-weight: bold !important;
  line-height: 1.6;
  text-transform: uppercase;
}

nav ul li a.active {
  color: rgb(255, 253, 1) !important;
}

.list-paragraph ul li {
  list-style: none;
  position: relative;
  font-weight: bold;
}

.bg-light {
  background-color: rgb(68 173 242) !important;
}

.banner {
  border-radius: 4px;
  box-shadow: 0px 0px 30px -15px rgb(7 28 58);
}

.section-background {
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(https://w.ladicdn.com/5c7362c6c417ab07e5196b05/fdsgersg-20210112024759.gif);
  background-position: center top;
  background-repeat: repeat;
  padding-top: 58px;
}

.section02 {

  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(https://w.ladicdn.com/s1440x659/5c7362c6c417ab07e5196b05/jjj-20210113024237.jpg);
  background-position: center top;
  background-repeat: repeat;
}

.section03 {
  /* background-color: rgb(228, 228, 228)       */

  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(https://w.ladicdn.com/s1440x659/5c7362c6c417ab07e5196b05/jjj-20210113024237.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.section04 {
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(https://w.ladicdn.com/s1440x659/5c7362c6c417ab07e5196b05/jjj-20210113024237.jpg);
  background-position: center top;
  background-repeat: repeat;
}

.feauture {
  padding: 40px 0;
}

.register {
  background: linear-gradient(180deg, rgb(68 173 242), rgb(105 197 246));
  border-radius: 5px;
  padding: 15px 20px;
  position: relative;
}

h1 {
  font-size: 48px;
  background: -webkit-linear-gradient(180deg,
      rgba(247, 175, 5, 1),
      rgba(207, 10, 2, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h2.banner-h2 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
}

.form-heading {
  background: linear-gradient(180deg, #ffe259, #ffa751);
  -webkit-box-shadow: 0px 0px 30px -15px rgb(7 28 58);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: -45px;
}

.form-item input {
  padding: 12px 14px;
  margin-bottom: 10px;
}

.form-item input::placeholder {
  color: #000;
  font-size: 14px;
}

.form-button {
  background: linear-gradient(180deg, #ffe259, #ffa751);
  -webkit-box-shadow: 0px 0px 30px -15px rgb(7 28 58);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  width: 100%;
}

.register-form {
  padding: 0 30px;
}

.effect-icon embed{
  width: 32px;
}

.effect-content h3 {
  color: rgb(145, 23, 16);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}

.effect-content h2 {
  color: #44adf2;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}

.effect {
  border-radius: 4px;
  box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
  background-color: rgb(255, 255, 255);
}

.heading-section {
  color: #44adf2;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.heading-effect {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
}

.perfect-img {
  text-align: center;

}

.perfect-img img {
  padding: 10px;
  background: linear-gradient(180deg, rgba(255, 236, 141, 1.0), rgba(255, 249, 221, 1.0));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
}

.perfect-content h4 {
  color: rgb(255, 85, 63);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.genuine {
  background-color: rgb(16, 145, 33);
  border-radius: 1000px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 8px 20px;
  position: relative;
}

.uudai {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.register-bottom {
  border-radius: 4px;
  padding: 50px 30px;
  background-color: rgb(16, 72, 145);
}

.register-bottom .form-heading {
  margin-top: 0;
  font-size: 18px;
}

.uudai span {
  border-left: 2px solid #8d949e;
  padding-left: 5px;
  font-size: 14px;
  color: #8d949e;
}

.uses {
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  color: rgb(230, 74, 74);
}

.form-text {
  color: #fff;
  margin-bottom: 20px;
}

.form-number {
  background-color: rgb(199, 75, 22);
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.effect-img-right {
  padding-left: 0;
}

.effect-img-left {
  padding-right: 0;
}

.effect-center {
  padding: 0 30px;
}

.heading-comment {
  font-family: "Montserrat", sans-serif;
  color: rgb(91, 91, 91);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 30px;
}

.number-comment {
  font-family: "Montserrat", sans-serif;
  color: rgb(84, 84, 84);
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  padding: 8px 0;
  border-bottom: 1px solid rgb(84, 84, 84);
}

.people-comment-img {
  width: 65px;
}

.people-comment-img img {
  border-radius: 4px;
}

.people-comment-content .name {
  color: rgb(75, 75, 75);
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
}

.people-comment-content .content {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: justify;
  line-height: 1.4;
}

.star i {
  font-size: 14px;
  color: rgb(255, 188, 1);
}
.alert {
  padding: 5px;
  background-color: #f44336b2;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  position: fixed;
  width: 400px;
  left: 30px;
  top: 50%;
  font-size: 14px;
}
.alert-border {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 4px;
}

.hide {
  opacity: 0;
  visibility: hidden;
}
.like {
  font-family: "Montserrat", sans-serif;
  color: rgb(67, 102, 176);
  font-size: 12px;
  text-align: left;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.like img {
  width: 24px;
  margin-top: -2px;
}

.chungnhan-img img {
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid #44adf2;
  -webkit-box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
}

.danhgia {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(228, 228, 228);
  border-width: 1px;
  border-radius: 0px;
  padding: 20px;
  margin-top: 30px;
  filter: drop-shadow(rgb(166, 166, 166) 0px 6px 6px);
}

.danhgia-img {
  width: 80px;
  border-radius: 50%;
}

.danhgia-form {
  padding-left: 20px;
  width: calc(100% - 80px);
}

.danhgia-form textarea,
.danhgia-form input {
  border-radius: 1px;
  margin-bottom: 10px;
}

.danhgia-star {
  color: #8d949e;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.status-click {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: rgb(255, 188, 1);
}

.danhgia-star i {
  margin: 4px;
}

footer {
  color: #fff;
  background: linear-gradient(180deg, rgb(1 93 194), rgb(137 248 255));
}

footer h2 {
  color: rgb(255, 253, 1);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.4;
}

.thanhphan-item h3 {
  color: #44adf2;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 15px;
}

.thanhphan-item ul li {
  list-style-type: "\1F44D";
  padding-left: 5px;
  margin-bottom: 10px;
}

.thanhphan-left {
  padding-left: 50px;
}

.cachdung {
  background-color: #44adf2;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
  color: #fff;
}

.cachdung-border {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 15px 40px;
}

.cachdung-item ul li {
  list-style: none;
}

.cachdung-item h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 15px;
}

.cachdung-item-right {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

/* three dots */
.dot-elastic {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #8d949e;
  color: #8d949e;
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #8d949e;
  color: #8d949e;
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #8d949e;
  color: #8d949e;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.zoom-in-out-box {
  padding: 6px 30px;
  border-radius: 99px;
  color: #fff;
  background: rgb(230, 74, 74);
  font-weight: bold;
  text-decoration: none;
  animation: zoom-in-zoom-out 1.15s ease infinite;
}

.background-order {
  background-color: #44adf2;
  padding: 8px 40px;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.15, 1.15);
  }

  100% {
    transform: scale(1, 1);
  }
}

.like-pot {
  width: 100px;
  position: relative;
  margin-left: 20px;
  margin-top: 5px;
}

#pot {
  position: absolute;
  top: 0;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 0.3s;
}
.order-height {
  height: 100px;
  margin: 20px 0;
}
.order-now {
  position: absolute;
  top: 0;
  -webkit-animation: linear infinite;
  -webkit-animation-name: order-now;
  -webkit-animation-duration: 0.5s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }

  50% {
    left: 15%;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes order-now {
  0% {
    top: 0;
  }

  50% {
    top: 15%;
  }

  100% {
    top: 0;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

/*  */
/* write your CSS code here 90949ca6 */
/*them nut call*/
:root {
  --phone-text-color: #fff;
  /* màu chữ */
  --phone-icon-color: coral;
  --phone-bg-color: #44adf2;
  /* màu nền nút gọi */
  --phone-text-bg-color: rgb(230, 74, 74);
  /* màu nền text */
  --phone-border-color: ;
  /* màu vòng tròn */
  --phone-hover-color: #f86e00;
  /* màu vòng tròn re chuột */
  --phone-hover2-color: red;
  /* màu vòng tròn re chuột */
}

.fone {
  font-size: 19px;
  /* chữ cạnh nút gọi */
  color: var(--phone-text-color);
  line-height: 40px;
  font-weight: bold;
  padding-left: 48px;
  /* cách bên trái cho chữ */
  margin: 0 0;
}

.fix_tel {
  position: fixed;
  bottom: 50px;
  left: 30px;
  z-index: 999;
}

.fix_zalo {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 999;
}

/* left 18px là cách bên trái 18px. nếu muốn cho nút gọi sang phải thay là right */
.fix_tel a {
  text-decoration: none;
  display: block;
}

.tel {
  background: var(--phone-text-bg-color);
  width: 205px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background-size: 40px;
  border-radius: 28px;
  border: none
}

.ring-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 80px;
  position: absolute;
  transition: visibility 0.5s ease 0s;
  visibility: hidden;
  width: 80px;
  z-index: 200000 !important;
}

.ring-alo-phone.ring-alo-show {
  visibility: visible;
}

.ring-alo-phone.ring-alo-hover,
.ring-alo-phone:hover {
  opacity: 1;
}

.ring-alo-ph-circle {
  animation: 1.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim;
  background-color: transparent;
  border: 2px solid rgba(30, 30, 30, 0.4);
  border-radius: 100%;
  height: 70px;
  left: 10px;
  opacity: 0.1;
  position: absolute;
  top: 12px;
  transform-origin: 50% 50% 0;
  transition: all 0.5s ease 0s;
  width: 70px;
}

.ring-alo-phone.ring-alo-active .ring-alo-ph-circle {
  animation: 1.1s ease-in-out 0s normal none infinite running ring-alo-circle-anim !important;
}

.ring-alo-phone.ring-alo-static .ring-alo-ph-circle {
  animation: 2.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim !important;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-circle,
.ring-alo-phone:hover .ring-alo-ph-circle {
  border-color: var(--phone-border-color);
  opacity: 0.5;
}

.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-circle,
.ring-alo-phone.ring-alo-green:hover .ring-alo-ph-circle {
  border-color: var(--phone-hover2-color);
  opacity: 0.5;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-circle {
  border-color: var(--phone-border-color);
  opacity: 0.5;
}

.ring-alo-ph-circle-fill {
  animation: 2.3s ease-in-out 0s normal none infinite running ring-alo-circle-fill-anim;
  background-color: #000;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 30px;
  left: 30px;
  opacity: 0.1;
  position: absolute;
  top: 33px;
  transform-origin: 50% 50% 0;
  transition: all 0.5s ease 0s;
  width: 30px;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-circle-fill,
.ring-alo-phone:hover .ring-alo-ph-circle-fill {
  background-color: var(--phone-hover-color);
  opacity: 0.75 !important;
}

.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-circle-fill,
.ring-alo-phone.ring-alo-green:hover .ring-alo-ph-circle-fill {
  background-color: var(--phone-hover-color);
  opacity: 0.75 !important;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-circle-fill {
  background-color: var(--phone-hover-color);
  opacity: 0.75 !important;
}

.ring-alo-ph-img-circle {
  animation: 1s ease-in-out 0s normal none infinite running ring-alo-circle-img-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 30px;
  left: 30px;
  opacity: 1;
  position: absolute;
  top: 33px;
  transform-origin: 50% 50% 0;
  width: 30px;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-img-circle,
.ring-alo-phone:hover .ring-alo-ph-img-circle {
  background-color: var(--phone-text-bg-color);
}

.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-img-circle,
.ring-alo-phone.ring-alo-green:hover .ring-alo-ph-img-circle {
  background-color: var(--phone-hover2-color);
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-img-circle {
  background-color: var(--phone-bg-color);
}

.fix_zalo .lazy {
  width: 50px;
}

@keyframes ring-alo-circle-anim {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5) skew(1deg);
  }

  30% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }

  100% {
    opacity: 0.6;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes ring-alo-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes ring-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }

  50% {
    opacity: 0.2;
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}

.ring-alo-ph-img-circle a img {
  padding: 1px 0 12px 1px;
  width: 25px;
  position: relative;
  top: -1px;
}